<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Главная</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="styles/main.css">
</head>

<body>
	<div class="wrapper">
		<div class="mainblock">
			<header class="header">
				<div class="header__container container">
					<div class="header__body">
						<a href="" class="header__title-mobile">ОСАГО без проблем!</a>
						<div class="header__menu menu">
							<div class="menu__icon icon-menu">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<nav class="menu__body">
								<ul class="menu__list">
									<li><a href="#mainblock" class="menu__link goto">Главная</a></li>
									<li><a href="#company" class="menu__link goto">Партнеры</a></li>
									<li><a href="#insappWidgetBox" class="menu__link goto">Оформить ОСАГО</a></li>
									<li><a href="#registration" class="menu__link goto">Документы</a></li>
									<li><a href="#faq" class="menu__link goto">Вопросы - Ответы</a></li>
								</ul>
							</nav>
						</div>
						<a href="#insappWidgetBox" data-da="menu__body,last,767"
							class="header__btn btn btn_s goto"><span>Оформить полис</span></a>
					</div>
				</div>
			</header>
			<div class="mainblock__content">
				<div class="mainblock__container container">
					<div class="mainblock__body">
						<div class="mainblock__column">
							<div class="mainblock__text">
								<h1 data-da="mainblock__column_2,first,767" class="mainblock__title ">ОСАГО без проблем!
								</h1>
								<h2 class="mainblock__subtitle">
									Одновременно получив предложения всех страховых, вы экономите время - не нужно
									больше посещать страховых агентов.
								</h2>
								<div class="mainblock__economy economy-mainblock">
									<div class="economy-mainblock__icon"><img src="img/icons/economy.svg" alt="" />
									</div>
									<div class="economy-mainblock__text">Вы можете сэкономить до 3000 рублей при покупке
										полиса ОСАГО</div>
								</div>
								<a href="#insappWidgetBox" class="mainblock__btn btn goto"><span>Расчитать и
										оформить</span></a>
							</div>
						</div>
						<div class="mainblock__column mainblock__column_2">
							<div class="mainblock__image">
								<picture>
									<source srcset="img/mainblock/car.webp" type="image/webp">
									<img src="img/mainblock/car.png" alt="">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<main>
			<div class="company">
				<div class="company__container container">
					<div class="company__body">
						<div class="company__column">
							<div class="company__text">Страховые компании, цены в которых вы сможете сравнить и выбрать
								лучшую</div>
						</div>
						<div class="company__column">
							<div class="company__row">
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/1.webp" type="image/webp">
											<img src="img/company/1.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/2.webp" type="image/webp">
											<img src="img/company/2.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/3.webp" type="image/webp">
											<img src="img/company/3.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/4.webp" type="image/webp">
											<img src="img/company/4.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/5.webp" type="image/webp">
											<img src="img/company/5.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/6.webp" type="image/webp">
											<img src="img/company/6.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item ">
									<a href="" class="company__image ">
										<picture>
											<source srcset="img/company/7.webp" type="image/webp">
											<img src="img/company/7.png" alt="">
										</picture>
									</a>
								</div>
							</div>
							<div class="company__row">
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/8.webp" type="image/webp">
											<img src="img/company/8.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/9.webp" type="image/webp">
											<img src="img/company/9.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/10.webp" type="image/webp">
											<img src="img/company/10.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/11.webp" type="image/webp">
											<img src="img/company/11.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/12.webp" type="image/webp">
											<img src="img/company/12.png" alt="">
										</picture>
									</a>
								</div>
								<div class="company__item">
									<a href="" class="company__image">
										<picture>
											<source srcset="img/company/13.webp" type="image/webp">
											<img src="img/company/13.png" alt="">
										</picture>
									</a>
								</div>
							</div>
							<a href="" class="company__link-mobile">Показать еще 7 партнеров...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="guarantee">
				<div class="guarantee__container container">
					<div class="guarantee__title title">Удобство и гарантия</div>
					<div class="guarantee__row">
						<div class="guarantee__column">
							<div class="guarantee__item item-guarantee">
								<div class="item-guarantee__title title title_s">Официально!</div>
								<div class="item-guarantee__subtitle">После оформления ОСАГО, полис гарантированно
									попадет в базу РСА</div>
							</div>
						</div>
						<div class="guarantee__column">
							<div class="guarantee__item item-guarantee">
								<div class="item-guarantee__title title title_s">Это удобно!</div>
								<div class="item-guarantee__subtitle">Технические характеристики и данные об автомобиле
									заполняются втоматически по гос. номеру.</div>
							</div>
						</div>
						<div class="guarantee__column">
							<div class="guarantee__item item-guarantee">
								<div class="item-guarantee__title title title_s">Удобство оплаты.</div>
								<div class="item-guarantee__subtitle">Оплата полиса производится на сайте страховой
									компании</div>
							</div>
						</div>
						<div class="guarantee__column">
							<div class="guarantee__item item-guarantee">
								<div class="item-guarantee__title title title_s">Гарантия честной цены.</div>
								<div class="item-guarantee__subtitle">Вы получите именно ту цену, которую предлагает
									страховая компания</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="calculate">
				<div class="calculate__container container">

					<div class="calculate__body">
						<div id="insappWidgetBox" class="insappWidgetBox"></div>
					</div>
				</div>
			</div>
			<div class="registration">
				<div class="registration__header">
					<span></span>
					<div class="registration__container container">
						<div class="registration__text">
							<div class="registration__title">Оформите полис за 5 минут!</div>
							<div class="registration__subtitle">Для того что бы оформить полис вам нужно всего 3
								документа!</div>
						</div>

					</div>
				</div>
				<div class="registration__container container">
					<div class="registration__documents documents-registration">
						<div class="documents-registration__title title title_s">Документы для оформления:</div>
						<div class="documents-registration__document document-registration">
							<div class="document-registration__image"><img src="img/registration/1.svg" alt="" /></div>
							<div class="document-registration__text">1. - Паспорт</div>
						</div>
						<div class="documents-registration__document document-registration">
							<div class="document-registration__image"><img src="img/registration/2.svg" alt="" /></div>
							<div class="document-registration__text">2. - Водительское удостоверение</div>
						</div>
						<div class="documents-registration__document document-registration">
							<div class="document-registration__image"><img src="img/registration/3.svg" alt="" /></div>
							<div class="document-registration__text">3. - Свидетельство о регистрации <br> или паспорт
								транспортного средства</div>
						</div>
						<div class="documents-registration__document document-registration">
							<div class="document-registration__image"><img src="img/registration/4.svg" alt="" /></div>
							<div class="document-registration__text">4 - Диагностическая карта (техосмотр)</div>
						</div>
						<a href="#insappWidgetBox"
							class="documents-registration__btn-mobile btn goto"><span>Оформить</span></a>
					</div>
				</div>
			</div>
			<div class="faq">
				<div class="faq__container container">
					<div class="faq__title-mobile title">Вопросы и ответы</div>
					<div class="faq__body one">
						<div class="faq__spoiler spoiler-faq">
							<div class="spoiler-faq__header">
								<div class="spoiler-faq__title title title_s">Зачем оформлять ОСАГО?</div>
								<div class="spoiler-faq__icon"></div>
							</div>
							<div class="spoiler-faq__text">
								<p>
									В соответствии с Федеральным законом «Об ОСАГО» наличие полиса автострахования ОСАГО
									является обязательным для всех автовладельцев. При покупке транспортного средства
									владелец обязан заключить договор ОСАГО, так как управление автомобилем без
									действующего полиса запрещено. За отсутствие страховки автовладельцу грозят штрафные
									санкции.
								</p>
								<p>
									Наличие данного полиса является гарантией возмещения ущерба, нанесенного
									транспортным средством, всем пострадавшим в дорожно-транспортном происшествии.
									Причем возмещением убытков будет заниматься не лично владелец авто, признанный
									виноватым в аварии, а страховая компания, с которой заключен договор
									автострахования.
								</p>
							</div>
						</div>
						<div class="faq__spoiler spoiler-faq">
							<div class="spoiler-faq__header">
								<div class="spoiler-faq__title title title_s">Что такое е-ОСАГО? Обязательно ли
									распечатывать полис?</div>
								<div class="spoiler-faq__icon"></div>
							</div>
							<div class="spoiler-faq__text">
								<p>Е-ОСАГО - это электронный полис ОСАГО. Законодательно больше не требуется
									распечатывать бумажный полис. Достаточно иметь при себе электронную версию.
									Например, фото в телефоне.</p>
							</div>
						</div>
						<div class="faq__spoiler spoiler-faq">
							<div class="spoiler-faq__header">
								<div class="spoiler-faq__title title title_s">От чего зависит стоимость ОСАГО?</div>
								<div class="spoiler-faq__icon"></div>
							</div>
							<div class="spoiler-faq__text">
								Для расчета стоимости полиса, страховые компании использую формулу из 10 переменных.<br>
								<ul>
									</li>1. Базовая ставка (ТБ) - в 2020 году страховые компании имеют право
									устанавливать стоимость полиса ОСАГО в рамках "тарифного коридора" по всем видам
									транспорта. </li>
									<li>2. Коэффициент территории (КТ)</li>
									<li>3. Коэффициент Бонус-Малус (КБМ)</li>
									<li>4. Количество водителей (КО)</li>
									<li>5. Возраст и стаж (КВС)</li>
									<li>6. Мощность двигателя (КМ)</li>
									<li>7. Наличие прицепа (КПр)</li>
									<li>8. Период использования (КС)</li>
									<li>9. Срок страхования (КП)</li>
									<li>10. Коэффициент нарушений (КН)</li>
								</ul>
							</div>
						</div>
						<div class="faq__spoiler spoiler-faq">
							<div class="spoiler-faq__header">
								<div class="spoiler-faq__title title title_s">Что такое КБМ и как не потерять скидку?
								</div>
								<div class="spoiler-faq__icon"></div>
							</div>
							<div class="spoiler-faq__text">
								<p>КБМ - это история вождения. Чем больше срок безаварийной езды, тем больше скидка.
									Максимальная скидка 50%.</p>
							</div>
						</div>
						<div class="faq__spoiler spoiler-faq">
							<div class="spoiler-faq__header">
								<div class="spoiler-faq__title title title_s">С какой даты можно оформить ОСАГО?</div>
								<div class="spoiler-faq__icon"></div>
							</div>
							<div class="spoiler-faq__text">
								<p>Каждая страховая компания устанавливает свой срок, с которого оформленный полис
									вступает в силу. Рекомендуем указать дату начала действия полиса как 4-й календарный
									день от текущей даты, чтобы сравнить предложения от наибольшего количества страховых
									компаний</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class='footer__container container'>
				<div class="footer__body">
					<div class="footer__item">
						<a href="#insappWidgetBox" class="footer__btn btn goto"><span>Оформить ОСАГО</span></a>
					</div>
					<div class="footer__item">
						<a href="#mainblock" class="footer__link goto">Главная</a>
					</div>
					<div class="footer__item">
						<a href="#company" class="footer__link goto">Партнеры</a>
					</div>
					<div class="footer__item">
						<a href="#insappWidgetBox" class="footer__link goto">Оформить ОСАГО</a>
					</div>
					<div class="footer__item">
						<a href="#registration" class="footer__link goto">Документы</a>
					</div>
					<div class="footer__item">
						<a href="#faq" class="footer__link goto">Вопросы - Ответы</a>
					</div>
					<div class="footer__item">
						<a href="#politics" class="footer__link pl">Политика Конфиденциальности</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="popup popup-politics">
		<div class="popup-table table">
			<div class="cell">
				<div class="popup-politics__content popup-content">
					<div class="popup-close"></div>
					<div class="popup-content__body">
						<div class="policy-page-body__text">
							<div class="popup-content__item item-text" id="anchor_1">
								<p>
								<div class="item-text__title title title_s">1. Общие положения</div>
								</p>
								<div class="item-text__subtitle">
									<p>1.1. Настоящая Политика обработки и защиты персональных данных ООО «ПСА» (далее –
										Политика) определяет основные принципы, цели, условия и способы обработки
										персональных данных, перечень субъектов персональных данных, перечень
										обрабатываемых персональных данных, функции ООО «ПСА» при обработке персональных
										данных, права и обязанности субъектов персональных данных, порядок запроса
										сведений субъектом персональных данных, а также реализуемые в ООО «ПСА»
										требования к обработке и защите персональных данных.</p>
									<p>1.2. ООО «ПСА», являясь оператором, осуществляющим обработку персональных данных,
										обеспечивает защиту прав и свобод субъектов при обработке их персональных данных
										и принимает меры для обеспечения выполнения обязанностей, предусмотренных
										Федеральным законом «О персональных данных» и принятыми в соответствии с ними
										нормативными правовыми актами.</p>
									<p>1.3. Настоящая Политика разработана в соответствии со следующими нормативными
										документами:</p>
									<p>— Конституция Российской Федерации;</p>
									<p>— Гражданский кодекс Российской Федерации;</p>
									<p>— Трудовой кодекс Российской Федерации;</p>
									<p>— Федеральный закон РФ от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее
										– ФЗ «О персональных данных»);</p>
									<p>— Федеральный закон РФ от 27 июля 2006 г. № 149-ФЗ «Об информации, информационных
										технологиях и о защите информации»;</p>
									<p>— Постановление Правительства РФ от 15 сентября 2008 г. № 687 «Об утверждении
										Положения об особенностях обработки персональных данных, осуществляемой без
										использования средств автоматизации»;</p>
									<p>— Постановление Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований
										к защите персональных данных при их обработке в информационных системах
										персональных данных»;</p>
									<p>— Приказ ФСТЭК России от 18.02.2013 № 21 «Об утверждении Состава и содержания
										организационных и технических мер по обеспечению безопасности персональных
										данных при их обработке в информационных системах персональных данных»;</p>
									<p>— Базовая модель угроз безопасности персональных данных при их обработке в
										информационных системах персональных данных, утв. заместителем директора ФСТЭК
										России 15 февраля 2008 г.;</p>
									<p>— Внутренние нормативные документы ООО «ПСА», регламентирующие обработку и
										обеспечение информационной безопасности персональных данных.</p>
									<p>1.4. Настоящая Политика распространяется на персональные данные, полученные как
										до, так и после ввода в действие настоящей Политики.</p>
									<p>1.5. Термины и определения, используемые в настоящей Политике:</p>
									<p><b>Автоматизированная обработка персональных данных</b> – обработка персональных
										данных с помощью средств вычислительной техники.</p>
									<p><b>Блокирование персональных данных</b> – временное прекращение обработки
										персональных данных (за исключением случаев, если обработка необходима для
										уточнения персональных данных).</p>
									<p><b>Защита персональных данных</b> – комплекс мероприятий технического,
										организационного и организационно-технического характера, направленных на защиту
										сведений, относящихся к определенному или определяемому на основании такой
										информации субъекту персональных данных.</p>
									<p><b>Информационная система персональных данных</b> (далее ИСПДн) – совокупность
										содержащихся в базах данных персональных данных и обеспечивающих их обработку
										информационных технологий и технических средств.</p>
									<p><b>Информация</b> – сведения (сообщения, данные) независимо от формы их
										представления.</p>
									<p><b>Конфиденциальность персональных данных</b> – обязательное для выполнения
										оператором или иным лицом, получившим доступ к персональным данным, требование
										не допускать раскрытия персональных данных третьим лицам, и их распространение
										без согласия субъекта персональных данных или наличия иного законного основания.
									</p>
									<p><b>Обезличивание персональных данных</b> – действия, в результате которых
										становится невозможным без использования дополнительной информации определить
										принадлежность персональных данных конкретному субъекту персональных данных.</p>
									<p><b>Обработка персональных данных</b> – любое действие (операция) или совокупность
										действий (операций), совершаемых с использованием средств автоматизации или без
										использования таких средств с персональными данными, включая сбор, запись,
										систематизацию, накопление, хранение, уточнение (обновление, изменение),
										извлечение, использование, передачу (распространение, предоставление, доступ),
										обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
									<p><b>Оператор</b> – ООО «ПСА» (далее – Оператор), самостоятельно или совместно с
										другими лицами организующие и (или) осуществляющие обработку персональных
										данных, а также определяющие цели обработки персональных данных, состав
										персональных данных, подлежащих обработке, действия (операции), совершаемые с
										персональными данными.</p>
									<p><b>Персональные данные</b> (далее ПДн) – любая информация, относящаяся к прямо
										или косвенно определенному или определяемому физическому лицу (субъекту
										персональных данных).</p>
									<p><b>Предоставление персональных данных</b> – действия, направленные на раскрытие
										ПДн данных определенному лицу или определенному кругу лиц.</p>
									<p><b>Распространение персональных данных</b> – действия, направленные на раскрытие
										ПДн неопределенному кругу лиц.</p>
									<p><b>Ответственный за организацию обработки персональных данных</b> – должностное
										лицо Оператора, ответственное за организацию обработки ПДн у Оператора.</p>
									<p><b>Субъект персональных данных</b> (далее субъект ПДн) – физическое лицо,
										определяемое или определенное персональными данными.</p>
									<p><b>Специальные категории персональных данных</b> – персональные данные субъектов
										персональных данных, касающиеся расовой, национальной принадлежности,
										политических взглядов, религиозных или философских убеждений, состояния
										здоровья, интимной жизни и судимости.</p>
									<p><b>Трансграничная передача персональных данных</b> – передача ПДн на территорию
										иностранного государства, органу власти иностранного государства, иностранному
										физическому лицу или иностранному юридическому лицу.</p>
									<p><b>Угрозы безопасности персональных данных</b> – совокупность условий и факторов,
										создающих опасность несанкционированного, в том числе случайного, доступа к ПДн,
										результатом которого могут стать уничтожение, изменение, блокирование,
										копирование, предоставление, распространение ПДн, а также иные неправомерные
										действия при их обработке в ИСПДн.</p>
									<p><b>Уничтожение персональных данных</b> – действия, в результате которых
										становится невозможным восстановить содержание ПДн в ИСПДН и (или) в результате
										которых уничтожаются материальных носители ПДн.</p>
									<p><b>Уровень защищенности персональных данных</b> − комплексный показатель,
										характеризующий требования, исполнение которых обеспечивает нейтрализацию
										определенных угроз безопасности ПДн при их обработке в ИСПДн.</p>
								</div>
							</div>
							<div class="popup-content__item item-text" id="anchor_2">
								<p>
								<div class="item-text__title title title_s">2. Принципы, цели, способы и условия
									обработки персональных данных</div>
								</p>
								<div class="item-text__subtitle">
									<p>2.1. Обработка ПДн субъектов ПДн осуществляется Оператором в следующих целях:</p>
									<p>— продвижения товаров, работ, услуг Оператора и/или третьих лиц на рынке, путем
										осуществления прямых контактов с потенциальным потребителем по сетям
										электросвязи, в том числе посредством использования телефонной, факсимильной,
										подвижной радиотелефонной связи, посредством использования почтовой связи;</p>
									<p>— обеспечения выполнения требований трудового законодательства РФ и иных
										нормативных правовых актов в области регулирования трудовых отношений,
										содействия работникам в трудоустройстве, получении образования и продвижении по
										службе, обеспечения производственных процессов, а также личной безопасности
										работников;</p>
									<p>— обеспечения надлежащего исполнения обязательств по договорам, заключаемых
										Оператором;</p>
									<p>— организации доступа, учета и регистрации посетителей офисов Оператора;</p>
									<p>— предоставления услуг, неразрывно связанных с услугами страхования;</p>
									<p>— выполнения иных требований, предусмотренных законодательством РФ, Уставом и
										организационно-распорядительными документами Оператора.</p>
									<p>2.2. Принципы обработки ПДн:</p>
									<p>— обработка ПДн должна осуществляться на законной и справедливой основе;</p>
									<p>— обработка ПДн должна ограничиваться достижением конкретных, заранее
										определенных и законных целей;</p>
									<p>— не допускается обработка ПДн, несовместимая с целями сбора ПДн.</p>
									<p>— не допускается объединение баз данных, содержащих ПДн, обработка которых
										осуществляется в целях, несовместимых между собой;</p>
									<p>— допускается обработка исключительно тех ПДн, которые отвечают целям их
										обработки;</p>
									<p>— содержание и объем обрабатываемых ПДн должны соответствовать заявленным целям
										обработки;</p>
									<p>— не допускается обработка ПДн излишних по отношению к заявленным целям
										обработки;</p>
									<p>— при обработке ПДн должны быть обеспечены точность ПДн, их достаточность, а в
										необходимых случаях и актуальность по отношению к целям обработки ПДн. Неполные
										или неточные данные должны быть удалены или уточнены;</p>
									<p>— хранение ПДн должно осуществляться в форме, позволяющей определить субъекта
										ПДн, не дольше, чем этого требуют цели обработки ПДн, если срок хранения ПДн не
										установлен федеральным законом, договором, стороной которого,
										выгодоприобретателем или поручителем по которому является субъект ПДн;</p>
									<p>— по достижении целей обработки или в случае утраты необходимости в достижении
										этих целей, ПДн должны быть уничтожены или обезличены, если иное не
										предусмотрено ФЗ «О персональных данных»;</p>
									<p>— ПДн могут обрабатываться Оператором только для целей, непосредственно связанных
										с деятельностью Оператора, в частности, для оказания заявленных услуг и
										осуществления видов деятельности, указанных в Уставе Оператора.</p>
									<p>2.3. Обработка ПДн Оператором должна осуществляться в соответствии с требованиями
										ФЗ «О персональных данных», настоящей Политикой и внутренними нормативными
										документами Оператора, регламентирующими обработку и обеспечение информационной
										безопасности ПДн.</p>
									<p>2.4. Обработка ПДн производится в следующих случаях:</p>
									<p>— обработка ПДн осуществляется с согласия субъекта ПДн на обработку его ПДн;</p>
									<p>— обработка ПДн необходима для достижения целей, предусмотренных международным
										договором РФ или законом, для осуществления и выполнения возложенных
										законодательством Российской Федерации на Опертаора функций, полномочий и
										обязанностей;</p>
									<p>— обработка ПДн необходима для осуществления правосудия, исполнения судебного
										акта, акта другого органа или должностного лица, подлежащих исполнению в
										соответствии с законодательством Российской Федерации об исполнительном
										производстве;</p>
									<p>— обработка ПДн необходима для предоставления государственной или муниципальной
										услуги;</p>
									<p>— обработка ПДн необходима для исполнения договора, стороной которого либо
										выгодоприобретателем или поручителем по которому является субъект ПДн, а также
										для заключения договора по инициативе субъекта ПДн или договора, по которому
										субъект ПДн будет являться выгодоприобретателем или поручителем;</p>
									<p>— обработка ПДн необходима для защиты жизни, здоровья или иных жизненно важных
										интересов субъекта ПДн;</p>
									<p>— обработка ПДн необходима для осуществления прав и законных интересов Оператора
										или третьих лиц, либо для достижения общественно значимых целей при условии, что
										при этом не нарушаются права и свободы субъекта ПДн;</p>
									<p>— обработка ПДн необходима для осуществления профессиональной деятельности
										журналиста и (или) законной деятельности средства массовой информации либо
										научной, литературной или иной творческой деятельности при условии, что при этом
										не нарушаются права и законные интересы субъекта ПДн;</p>
									<p>— обработка ПДн осуществляется в статистических или иных исследовательских целях,
										за исключением целей продвижения товаров, работ, услуг на рынке, политической
										агитации, при условии обязательного обезличивания ПДн;</p>
									<p>— осуществляется обработка ПДн, доступ неограниченного круга лиц, к которым
										предоставлен субъектом ПДн либо по его просьбе;</p>
									<p>— осуществляется обработка ПДн, подлежащих опубликованию или обязательному
										раскрытию в соответствии с законодательством РФ.</p>
									<p>2.5. Сбор, хранение, использование и распространение, в том числе передача
										третьим лицам ПДн субъекта ПДн без письменного его согласия или любого другого
										основания, установленного ФЗ «О персональных данных» и, в частности, разделом 2
										настоящей Политики, Оператором запрещена.</p>
									<p>2.6. Обработка ПДн Оператором может осуществляться работниками Оператора, а также
										третьими лицами, осуществляющими обработку ПДн по поручению Оператора. Обработка
										ПДн третьими лицами может осуществляться только на основании соответствующего
										договора с Оператором, в котором содержится поручение на обработку ПДн. В
										поручении должны быть определены: перечень действий (операций) с ПДн, которые
										будут совершаться лицом, осуществляющим обработку ПДн, и цели обработки. В
										поручении должна быть установлена обязанность такого лица соблюдать
										конфиденциальность ПДн и обеспечивать безопасность ПДн при их обработке, а также
										должны быть указаны требования к защите обрабатываемых ПДн в соответствии со
										статьей 19 ФЗ «О персональных данных».</p>
									<p>2.7. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение,
										уточнение (обновление, изменение), извлечение, использование, передачу
										(распространение, предоставление, доступ), обезличивание, блокирование, удаление
										и уничтожение ПДн.</p>
									<p>2.8. Обработка ПДн Оператором может осуществляться как с использованием, так и
										без использования средств автоматизации.</p>
									<p>2.9. При сохранении ПДн на материальных носителях не допускается сохранение на
										одном материальном носителе ПДн, цели обработки которых заведомо несовместимы.
										Для обработки различных категорий ПДн, осуществляемой без использования средств
										автоматизации, для каждой категории ПДн должен использоваться отдельный
										материальный носитель. Во все договоры и анкеты Оператора, заключаемые с
										субъектами ПДн (физическими лицами, их представителями; индивидуальными
										предпринимателями; представителями юридических лиц и т.д.), должен быть включен
										пункт о согласии субъекта ПДн на обработку переданных им Оператору его ПДн с
										возможностью передачи третьим лицам (третьи лица должны быть конкретизированы).
									</p>
									<p>2.10. В тех случаях, когда необходимо получение отдельного согласия субъекта ПДн
										(нет других оснований на обработку ПДн, установленных ФЗ «О персональных данных»
										и в частности разделом 2 настоящей Политики), должны соблюдаться следующие
										условия:</p>
									<p>— субъект ПДн принимает решение о предоставлении его ПДн и дает согласие на их
										обработку свободно, своей волей и в своем интересе;</p>
									<p>— согласие на обработку ПДн должно быть конкретным, информированным и
										сознательным;</p>
									<p>— согласие на обработку ПДн может быть дано субъектом ПДн или его представителем
										в письменной форме или в любой другой форме, позволяющей подтвердить факт его
										получения;</p>
									<p>— в случае получения согласия на обработку ПДн от представителя субъекта ПДн,
										полномочия данного представителя на дачу согласия от имени субъекта ПДн должны
										быть проверены Оператором.</p>
									<p>2.11. В случае выявления недостоверных ПДн или неправомерных действий Оператора с
										ними при обращении или по запросу субъекта ПДн, Оператор обязан осуществить
										блокирование ПДн.</p>
									<p>2.12. В случае подтверждения факта неточности ПДн, Оператор на основании
										сведений, представленных субъектом ПДн или его представителем, либо
										уполномоченным органом по защите прав субъектов ПДн, или иных необходимых
										документов, обязана уточнить ПДн либо обеспечить их уточнение (если обработка
										ПДн осуществляется третьим лицом, действующим по поручению Оператора) в течение
										семи рабочих дней со дня представления таких сведений и снять блокирование ПДн.
									</p>
									<p>2.13. В случае достижения цели обработки ПДн, Оператор обязан прекратить
										обработку ПДн или обеспечить ее прекращение (если обработка ПДн осуществляется
										другим лицом, действующим по поручению Оператора) и уничтожить ПДн, или
										обеспечить их уничтожение (если обработка ПДн осуществляется третьим лицом,
										действующим по поручению Оператора) в срок, не превышающий тридцати дней с даты
										достижения цели обработки ПДн, если иное не предусмотрено законодательством или
										условиями договора с субъектом ПДн, либо другими законными основаниями,
										предусмотренными ФЗ «О персональных данных» и в частности разделом 3.1 настоящей
										Политики.</p>
									<p>2.14. В случае отзыва субъектом ПДн согласия на обработку его ПДн, Оператор
										обязан прекратить их обработку или обеспечить прекращение такой обработки (если
										обработка ПДн осуществляется третьим лицом, действующим по поручению Оператора)
										и в случае, если сохранение ПДн более не требуется для целей обработки ПДн,
										уничтожить ПДн или обеспечить их уничтожение (если обработка ПДн осуществляется
										третьим лицом, действующим по поручению Оператора) в срок, не превышающий
										тридцати дней с даты поступления указанного отзыва, если иное не предусмотрено
										законом или условиями договора с субъектом ПДн, либо другими законными
										основаниями, предусмотренными Федеральным законом №152-ФЗ «О персональных
										данных» и в частности разделом 3.1 настоящей Политики. Об уничтожении ПДн
										Оператор обязан уведомить субъекта ПДн.</p>
									<p>2.15. В случае отсутствия возможности уничтожения ПДн в течение указанного срока,
										Оператор осуществляет блокирование таких ПДн или обеспечивает их блокирование
										(если обработка ПДн осуществляется третьим лицом, действующим по поручению
										Оператора) и обеспечивает уничтожение ПДн в срок не более чем шесть месяцев,
										если иной срок не установлен федеральными законами.</p>
								</div>
							</div>
							<div class="popup-content__item item-text" id="anchor_3">
								<p>
								<div class="item-text__title title title_s">3. Субъекты и состав персональных данных
								</div>
								</p>
								<div class="item-text__subtitle">
									<p>3.1. Оператором осуществляется обработка ПДн следующих субъектов ПДн:</p>
									<p>— лиц, заключивших договор с Оператором на оказание услуг по предоставлению
										возможности заключить договор страхования со страховой организацией
										(страховщиком) путем быстрого и простого поиска наиболее выгодного предложения
										посредством сайта https://insapp.ru;</p>
									<p>— работников, имеющих договорные отношения с Оператором;</p>
									<p>— родственников работников, имеющих договорные отношения с Оператором (в объеме
										личной карточки работника, форма № Т-2);</p>
									<p>— соискателей на вакантные должности;</p>
									<p>— физических лиц, состоящих в договорных и иных гражданско-правовых отношениях с
										Оператором;</p>
									<p>— посетителей офисов Оператора;</p>
									<p>— иных физических лиц, вступающих в отношения любых видов и форм с Оператором.
									</p>
									<p>3.2. Оператором осуществляется обработка следующих ПДн:</p>
									<p>— фамилия, имя, отчество;</p>
									<p>— год рождения;</p>
									<p>— месяц рождения;</p>
									<p>— дата рождения;</p>
									<p>— место рождения;</p>
									<p>— адрес;</p>
									<p>— номера рабочих, домашних и мобильных телефонов или сведения о других способах
										связи;</p>
									<p>— семейное положение;</p>
									<p>— социальное положение;</p>
									<p>— образование;</p>
									<p>— профессия.</p>
									<p>3.3. В Оператора также осуществляется обработка иных категорий ПДн:</p>
									<p>— гражданство;</p>
									<p>— информация об изменении ФИО;</p>
									<p>— паспортные данные (данные иного документа, удостоверяющего личность);</p>
									<p>— ИНН;</p>
									<p>— место жительства (регистрации);</p>
									<p>— дата регистрации по месту жительства;</p>
									<p>— данные о семье;</p>
									<p>— биографические сведения;</p>
									<p>— сведения о трудовой деятельности;</p>
									<p>— сведения о владении иностранными языками;</p>
									<p>— сведения о воинском учете военнообязанных лиц и лиц, подлежащих призыву на
										военную службу;</p>
									<p>— сведения из страховых полисов медицинского страхования;</p>
									<p>— сведения о номере и серии страхового свидетельства государственного пенсионного
										страхования;</p>
									<p>— содержание трудового договора с работником;</p>
									<p>— копии отчетов, направляемые в органы статистики;</p>
									<p>— сведения о заработной плате;</p>
									<p>— сведения о социальных льготах и социальном статусе;</p>
									<p>— специальность;</p>
									<p>— занимаемая должность;</p>
									<p>— сведения о номере, серии и дате выдачи трудовой книжки и записях в ней;</p>
									<p>— сведения, указанные в приказах по личному составу и материалах к ним;</p>
									<p>— сведения о наградах, почетных и специальных званиях, поощрениях;</p>
									<p>— материалы по аттестации и оценке работников;</p>
									<p>— материалы по внутренним служебным расследованиям;</p>
									<p>— сведения о временной нетрудоспособности;</p>
									<p>— табельный номер;</p>
									<p>— адрес электронной почты;</p>
									<p>— сведения о предоставленных услугах связи;</p>
									<p>— сведения о лицевых счетах и способах оплаты услуг связи;</p>
									<p>— сведения о соединениях посредством услуг связи;</p>
									<p>— сведения о банковской карте;</p>
									<p>— сведения о марке, модели транспортного средства;</p>
									<p>— сведения о VIN - номер транспортного средства;</p>
									<p>— сведения о государственном номере транспортного средства;</p>
									<p>— сведения о дате выпуска транспортного средства;</p>
									<p>— сведения о свидетельстве о регистрации транспортного средства, с приложением
										скан-копии/фотографии документа;</p>
									<p>— сведения о паспорте транспортного средства;</p>
									<p>— сведения о договоре купли-продажи транспортного средства;</p>
									<p>— сведения об установке противоугонной системы;</p>
									<p>— сведения о страховых продуктах (КАСКО, ОСАГО и т.п.).</p>
									<p>3.4. В Оператора не ведется сбор и обработка биометрических и специальных
										категорий ПДн субъекта ПДн, в том числе информации его расовой, национальной
										принадлежности, политических взглядах, религиозных или философских убеждениях,
										состоянии здоровья, интимной жизни.</p>
								</div>
							</div>
							<div class="popup-content__item item-text" id="anchor_4">
								<p>
								<div class="item-text__title title title_s">4. Права и обязанности субъектов
									персональных данных</div>
								</p>
								<p>4.1. Субъект ПДн имеет право на получение информации, касающейся обработки его ПДн, в
									том числе содержащей:</p>
								<p>— подтверждение факта обработки ПДн Оператором;</p>
								<p>— правовые основания и цели обработки ПДн;</p>
								<p>— применяемые Оператором способы обработки ПДн;</p>
								<p>— наименование и место нахождения Оператора, сведения о лицах (за исключением
									работников), которые имеют доступ к ПДн или которым могут быть раскрыты ПДн на
									основании договора с Оператором или на основании федерального закона;</p>
								<p>— обрабатываемые ПДн, относящиеся к соответствующему субъекту ПДн, источник их
									получения, если иной порядок представления таких данных не предусмотрен федеральным
									законом;</p>
								<p>— сроки обработки ПДн, в том числе сроки их хранения;</p>
								<p>— порядок осуществления субъектом ПДн прав, предусмотренных ФЗ «О персональных
									данных»;</p>
								<p>— информацию об осуществленной или о предполагаемой трансграничной передаче данных;
								</p>
								<p>— наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку ПДн
									по поручению Оператора, если обработка поручена или будет поручена такому лицу;</p>
								<p>— иные сведения, предусмотренные ФЗ «О персональных данных» или другими федеральными
									законами.</p>
								<p>4.2. Сведения по запросу должны быть предоставлены субъекту ПДн Оператором в
									доступной форме, и в них не должны содержаться ПДн, относящиеся к другим субъектам
									ПДн, за исключением случаев, если имеются законные основания для раскрытия таких
									ПДн. Порядок запроса указанных сведений представлен в разделе 5 настоящей Политики.
								</p>
								<p>4.3. Субъект ПДн имеет право на отзыв данного ранее согласия на обработку ПДн, если
									иное не предусмотрено условиями договора с субъектом ПДн или другими законными
									основаниями, предусмотренными Федеральным законом №152-ФЗ «О персональных данных» и
									в частности разделом 2 настоящей Политики.</p>
								<p>4.4. Субъект ПДн вправе требовать от Оператора уточнения его ПДн, их блокирования или
									уничтожения в случае, если ПДн являются неполными, устаревшими, неточными, незаконно
									полученными или не являются необходимыми для заявленной цели обработки, а также
									принимать предусмотренные законом меры по защите своих прав.</p>
								<p>4.5. Если субъект ПДн считает, что Оператор осуществляет обработку его ПДн с
									нарушением требований Федерального закона «О персональных данных» или иным образом
									нарушает его права и свободы, субъект ПДн вправе обжаловать действия или бездействие
									Оператора в орган по защите прав субъектов ПДн (Федеральная служба по надзору в
									сфере связи, информационных технологий и массовых коммуникаций – Роскомнадзор) или в
									судебном порядке.</p>
								<p>4.6. Субъект ПДн имеет право на защиту своих прав и законных интересов, в том числе
									на возмещение убытков и (или) компенсацию морального вреда в судебном порядке, а
									также иные права, определенные главой 3 ФЗ «О персональных данных».</p>
								<p>4.7. Субъект ПДн обязан предоставлять Оператора ПДн только в объеме, необходимом для
									достижения названных целей.</p>
								<p>4.8. Субъект ПДн обязан предоставлять Оператору достоверные ПДн, с целью соблюдения
									его законных прав и интересов.</p>
							</div>
						</div>
						<div class="popup-content__item item-text" id="anchor_5">
							<p>
							<div class="item-text__title title title_s">5. Обязанности оператора</div>
							</p>
							<div class="item-text__subtitle">
								<p>5.1. Оператор при обработке ПДн обязан:</p>
								<p>— принимать необходимые меры для выполнения обязанностей оператора, предусмотренных
									законодательством Российской Федерации в сфере обработки и защиты ПДн;</p>
								<p>— разъяснять субъекту ПДн юридические последствия отказа предоставить ПДн, если это
									является обязательным в соответствии с законодательством Российской Федерации;</p>
								<p>— осуществлять блокирование неправомерно обрабатываемых ПДн;</p>
								<p>— осуществлять прекращение обработки ПДн в соответствии с законодательством
									Российской Федерации;</p>
								<p>— уведомлять субъекта ПДн об устранении допущенных нарушений или уничтожения его ПДн;
								</p>
								<p>— предоставлять по просьбе субъекта ПДн или его представителя информацию, касающуюся
									обработки его ПДн, в порядке, установленном законодательством Российской Федерации и
									внутренними нормативными документами Оператора.</p>
								<p>— в целях принятия мер, необходимых для выполнения обязанностей, предусмотренных
									законодательством Российской Федерации и внутренними нормативными документами
									Оператора, Руководством Оператора назначается ответственный за организацию обработки
									ПДн Оператором.</p>
								<p>5.2. <b>Конфиденциальность персональных данных</b></p>
								<p>5.3. Информация, относящаяся к ПДн, ставшая известной Оператору, является
									конфиденциальной информацией и охраняется законом.</p>
								<p>5.4. Работники Оператора и иные лица, получившие доступ к обрабатываемым ПДн,
									подписали обязательство о неразглашении конфиденциальной информации, а также
									предупреждены о возможной дисциплинарной, административной, гражданско-правовой и
									уголовной ответственности в случае нарушения норм и требований действующего
									законодательства РФ в области обработки ПДн.</p>
							</div>
						</div>
						<div class="popup-content__item item-text" id="anchor_6">
							<p>
							<div class="item-text__title title title_s">6. Меры по обеспечению безопасности
								обрабатываемых персональных данных</div>
							</p>
							<div class="item-text__subtitle">
								<p>6.1. В соответствии с частью 2 статьи 19 ФЗ «О персональных данных» для обеспечения
									безопасности ПДн при их обработке Оператор принимает правовые, организационные и
									технические меры для защиты ПДн от неправомерного или случайного доступа к ним,
									уничтожения, изменения, блокирования, копирования, предоставления, распространения
									ПДн, а также от иных неправомерных действий в отношении ПДн.</p>
								<p>6.2. Обмен ПДн при их обработке в информационных системах осуществляется по каналам
									связи, защита которых обеспечивается путем реализации соответствующих
									организационных мер и путем применения технических средств.</p>
								<p>6.3. Размещение информационных систем, специальное оборудование и охрана помещений, в
									которых ведется работа с ПДн, организация режима обеспечения безопасности в этих
									помещениях обеспечивает сохранность носителей ПДн и средств защиты информации, а
									также исключает возможность неконтролируемого проникновения или пребывания в этих
									помещениях посторонних лиц.</p>
								<p>6.4. При обработке ПДн в информационной системе должно быть обеспечено:</p>
								<p>— проведение мероприятий, направленных на предотвращение несанкционированного доступа
									к ПДн и (или) передачи их лицам, не имеющим права доступа к такой информации;</p>
								<p>— своевременное обнаружение фактов несанкционированного доступа к ПДн;</p>
								<p>— недопущение воздействия на технические средства автоматизированной обработки ПДн, в
									результате которого может быть нарушено их функционирование;</p>
								<p>— возможность незамедлительного восстановления ПДн, модифицированных или уничтоженных
									вследствие несанкционированного доступа к ним;</p>
								<p>— постоянный контроль за обеспечением уровня защищенности ПДн.</p>
								<p>6.5. Обеспечение безопасности ПДн достигается, в частности:</p>
								<p>— определением угроз безопасности ПДн при их обработке в ИСПДн;</p>
								<p>— применением организационных и технических мер по обеспечению безопасности ПДн при
									их обработке в ИСПДн, необходимых для выполнения требований к защите ПДн, исполнение
									которых обеспечивает установленные Правительством Российской Федерации уровни
									защищенности ПДн;</p>
								<p>— применением прошедших в установленном порядке процедуру оценки соответствия средств
									защиты информации;</p>
								<p>— оценкой эффективности принимаемых мер по обеспечению безопасности ПДн до ввода в
									эксплуатацию ИСПДн;</p>
								<p>— учетом машинных носителей ПДн;</p>
								<p>— учетом лиц, допущенных к работе с ПДн в информационной системе;</p>
								<p>— контролем за соблюдением условий использования средств защиты информации,
									предусмотренных эксплуатационной и технической документацией;</p>
								<p>— обнаружением фактов несанкционированного доступа к ПДн и принятием мер,
									направленных на защиту ПДн от несанкционированного доступа;</p>
								<p>— восстановлением ПДн, модифицированных или уничтоженных вследствие
									несанкционированного доступа к ним;</p>
								<p>— установлением правил доступа к ПДн, обрабатываемым в информационной системе ПДн, а
									также обеспечением регистрации и учета всех действий, совершаемых с ПДн в ИСПДн;</p>
								<p>— контролем за принимаемыми мерами по обеспечению безопасности ПДн и уровня
									защищенности ИСПДн.</p>
								<p>6.6. Работники Оператора, доступ которых к ПДн, обрабатываемым в информационных
									системах, необходим для выполнения служебных (трудовых) обязанностей, допускаются к
									соответствующим ПДн на основании утвержденного Оператором списка.</p>
								<p>6.7. Функции обеспечения контроля за выполнением организационных и технических мер по
									обеспечению безопасности ПДн, обрабатываемых в ИСПДн Оператора, возложены на
									ответственное структурное подразделение и работников, ответственных за организацию
									обработки и обеспечение безопасности ПДн.</p>
							</div>
						</div>
						<div class="popup-content__item item-text" id="anchor_7">
							<p>
							<div class="item-text__title title title_s">7. Ответственность за нарушение норм,
								регулирующих обработку персональных данных</div>
							</p>
							<div class="item-text__subtitle">
								<p>7.1. Оператор и/или работники Оператора, виновные в нарушении требований
									законодательства РФ о ПДн, а также положений настоящей Политики, несут
									предусмотренную законодательством Российской Федерации ответственность.</p>
							</div>
						</div>
						<div class="popup-content__item item-text" id="anchor_8">
							<p>
							<div class="item-text__title title title_s">8. Изменение настоящей Политики и заключительные
								положения</div>
							</p>
							<div class="item-text__subtitle">
								<p>8.1. Оператор имеет право вносить изменения в настоящую Политику. Новая редакция
									Политики вступает в силу с момента утверждения уполномоченным лицом и ее размещения
									на сайте Оператора, если иное не предусмотрено новой редакцией Политики.</p>
								<p>8.2. Действующая редакция Политики хранится по адресу: https://www.insapp.ru/policy.
									Электронная версия Политики размещена на сайте Оператора: http://www.insapp.ru.
									Электронный ящик для обращений пользователей по вопросам обработки и защиты ПДн:
									webmaster@insapp.ru.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
	<script type="text/javascript" src="https://widget.insapp.ru/widget_delivery.js">
	</script>
	<script>
		insappWidgetInit({ token: 'IW7qlcpOWp1ovfPi6kxJESH6WsoJmQqC' });
	</script>
</body>
</html>
