@font-face {
	font-family: 'Tele 2 Display Serif Web SHORT';
	src: url("../fonts/Tele2 DisplaySerif Web SHORT Bold.eot");
	src: local("☺"), url("../fonts/Tele2 DisplaySerif Web SHORT Bold.woff") format("woff"), url("../fonts/Tele2 DisplaySerif Web SHORT Bold.ttf") format("truetype"), url("../fonts/Tele2 DisplaySerif Web SHORT Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Tele 2 Text Sans Web SHORT';
	src: url("../fonts/Tele2 TextSans Web SHORT Regular.eot");
	src: local("☺"), url("../fonts/Tele2 TextSans Web SHORT Regular.woff") format("woff"), url("../fonts/Tele2 TextSans Web SHORT Regular.ttf") format("truetype"), url("../fonts/Tele2 TextSans Web SHORT Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}